#nengahcontact{
  text-indent: 80px;
}

#nengahemail{
	text-indent: 20px;
}

#imgContainer{
    float:left;
    margin: 10px 10px 20px 20px;
}

#kotak{
	width: 350px; 
	float:left; 
	height:200px; 
	margin:10px
}

#kotak1{
	width: 550px; 
	float:left; 
	height:200px; 
	margin:10px
}

#kotak3{
	width: 220px; 
	float:left; 
	height:200px; 
	margin:10px
}

#geser{
	margin-left: 250px;
}

body {
	background-color: #000033;
}

img {
    float : left;
    margin-right: 90px;
	background-size:50px 50px;
}

.jumbotron{
	color: #ffffff;
	background-color: #000033;
}

